@page "/counter"
@*@page "/counter/{CurrentCount:int}"*@
@*@layout MainLayout2*@
@inject BlazorStudy.Data.CounterState CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        CounterState.Count = CounterState.Count + 1;
    }
}
