@page "/user"

@using BlazorApp.Data;

<h3>Online Users</h3>

<label>Theme Color</label>
<select class="form-control" @bind="_selectColor">
    @foreach(var option in _options)
    {
        <option value="@option">
            @option
        </option>
    }
</select>

<CascadingValue Name="ThemeColor" Value="_selectColor">
    <ShowUser Users="users" CallbackTest="CallbackTestFunc" @ref="_showUser"></ShowUser>
</CascadingValue>

<br />

<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Add User" @bind-value="_inputName" />
        </div>
        <div class="col">
            <!-- 속성(attribute)에도 Binding을 할 수 있다-->
            <!-- Condtional attribute 속성 자체에 조건을 붙일 수도 있다.-->
            <button class="btn btn-primary" type="button" @onclick="AddUser" disabled=@(users.Count() >= 5)>Add User</button>
        </div>
    </div>

</div>


@code {

    string _selectColor = "Green";
    List<string> _options = new List<string>() { "Green", "Red", "Blue" };

    List<UserData> users = new List<UserData>();
    ShowUser _showUser;

    string _inputName;
    string _buttonClass = "btn btn-primary";

    void AddUser()
    {
        _showUser.AddUser(new UserData() { Name = _inputName });
        _inputName = "";
    }

    void KickUser(UserData user)
    {
        //users.Remove(user);
        _showUser.KickUser(user);
    }

    void CallbackTestFunc()
    {
        _inputName = "CallbackTest";
    }
}
